@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --main-bg-color : #fff;
  --second-bg-color : #326ef0;
  --nav-bg-color : #F0F3FA;
  --text-color : #333333;
  --main-btn-color : #1b9bff;
  --second-btn-color : #0B48C1;  /*#0D4FD3; #1F5AAD; #0068B8; #1D4BAF; #225AD3;  #2156C9; */
}

.btn {
  /* display: inline-block; */
  padding: 0.3rem 1.6rem;
  /* background: var(--main-btn-color); */
  /* background: var(--second-btn-color); */
  background-color: var(--main-bg-color);
  border-radius: 0.3rem;
  /* box-shadow: 0 0 1rem var(--main-btn-color); */
  /* box-shadow: 0 0 1rem var(--second-btn-color); */
  /* box-shadow: 0 0 1rem var(--main-bg-color); */
  border: 2px solid var(--second-bg-color);
  font-size: 1rem;
  /* color: var(--main-bg-color); */
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  /* transition: .3s ease; */
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  /* background-color: transparent; */
  background: none;
  border: none;
  cursor: pointer;
}