.navbar {
  display : flex;
  width : 100%;
  height : 70px;
  justify-content : space-between;
  align-items: center;
  background-color: var(--second-bg-color);
}

.logo-img {
  width : 160px;
  height : auto;
  margin-top : 5px;
  margin-left : 20px;
}

.zoom-control {
  display : flex;
  align-items: center;
}

.zoom-control #zoom-in {
  margin-right : 15px;
}

.zoom-control #zoom-out {
  margin-left : 15px;
}


.zoom-control i {
  font-size : 40px;
  color : var(--contents-bg-color)
}

.zoom-control input {
  width : 50px;
  height : 20px;
  text-align: center;
  font-weight: 600;
}

.btn-group {
  display : flex;
  align-items: center;
}

.btn-group i {
  font-size : 40px;
  color : var(--contents-bg-color);
  margin-right : 15px;
}

.download-btn {
  margin-right : 20px;
}