<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='/image/logo/favicon.png') }}"
    />
    <link rel="stylesheet" href="../static/css/common.css" />
    <title>MORE 매뉴얼</title>
  </head>

  <body>
    <div class="container">
      <div class="box-navbar">{% include 'navbar.html' %}</div>
      <section class="box">
        <div class="box-sidebar">{% include 'sidebar.html' %}</div>
        <div class="box-contents"></div>
      </section>
    </div>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="../static/js/common.js"></script>
  </body>
</html>
