<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='/image/logo/favicon.png') }}"
    />
    <title>MORE 매뉴얼</title>
  </head>

  <body>
    {% include 'navbar.html' %}

    <div id="sidbar">{% include 'sidebar.html' %}</div>
    <div></div>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  </body>
</html>
