<head>
  <link rel="stylesheet" href="../static/css/navbar.css" />
</head>
<body>
  <nav class="navbar">
    <a href="#" class="logo">
      <img
        class="logo-img"
        src="./static/image/logo/more_logo.png"
        alt="MORE앱 로고"
      />
    </a>

    <div class="zoom-control">
      <button class="zoom-btn" id="zoom-in">
        <i class="bx bxs-plus-circle"></i>
      </button>
      <input type="text" class="zoom-input" value="100" />
      <button calss="zoom-btn" id="zoom-out">
        <i class="bx bx-minus-circle"></i>
      </button>
    </div>

    <div class="btn-group">
      <button class="action-btn printer-btn">
        <i class="bx bx-printer"></i>
      </button>
      <button class="action-btn pdf-btn">
        <i class="bx bxs-file-pdf"></i>
      </button>
      <div class="download">
        <button class="action-btn btn download-btn">Download App</button>
      </div>
    </div>
  </nav>
</body>
