<head>
  <link rel="stylesheet" href="../static/css/navbar.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <nav class="navbar">
    <a href="/" class="logo" id="home-link">
      <img
        class="logo-img"
        src="./static/image/logo/more_logo.png"
        alt="MORE앱 로고"
      />
    </a>

    <div class="search-box">
      <input type="text" class="search-input" placeholder="Search..." />
      <button type="submit" class="search-button">
        <i class="bx bx-search"></i>
      </button>
    </div>

    <div class="btn-group">
      <button class="action-btn printer-btn">
        <i class="bx bx-printer"></i>
      </button>
      <button class="action-btn pdf-btn">
        <i class="bx bxs-file-pdf"></i>
      </button>
      <div class="download">
        <button class="action-btn btn download-btn">Download App</button>
      </div>
    </div>
  </nav>

  <script src="../static/js/navbar.js"></script>
</body>
