<head>
  <link rel="stylesheet" href="../static/css/sidebar.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="manual_list">
    <ul class="parent-items">
      <li>
        <a href="/manual/content1"><i class="bx bx-check"></i>MORE 앱 소개</a>
        <ul class="child-items" onclick="toggleChildren(event)">
          <li><a href="#">위치별 표시1-1</a></li>
          <li><a href="#">위치별 표시1-2</a></li>
          <li><a href="#">위치별 표시1-3</a></li>
        </ul>
      </li>
      <li>
        <a href="/manual/content2"><i class="bx bx-check"></i>MORE 앱 설치</a>
        <ul class="child-items" onclick="toggleChildren(event)">
          <li><a href="#">위치별 표시2-1</a></li>
          <li><a href="#">위치별 표시2-2</a></li>
          <li><a href="#">위치별 표시2-3</a></li>
        </ul>
      </li>
      <li>
        <a href="/manual/content3"
          ><i class="bx bx-check"></i>MORE 앱 회원가입</a
        >
        <ul class="child-items" onclick="toggleChildren(event)">
          <li><a href="#">위치별 표시3-1</a></li>
          <li><a href="#">위치별 표시3-2</a></li>
          <li><a href="#">위치별 표시3-3</a></li>
        </ul>
      </li>
      <li>
        <a href="/manual/content4"><i class="bx bx-check"></i>MORE 앱 로그인</a>
        <ul class="child-items" onclick="toggleChildren(event)">
          <li><a href="#">위치별 표시4-1</a></li>
          <li><a href="#">위치별 표시4-2</a></li>
          <li><a href="#">위치별 표시4-3</a></li>
        </ul>
      </li>
      <li>
        <a href="/manual/content5"><i class="bx bx-check"></i>MORE 앱 활용</a>
        <ul class="child-items" onclick="toggleChildren(event)">
          <li><a href="#">위치별 표시5-1</a></li>
          <li><a href="#">위치별 표시5-2</a></li>
          <li><a href="#">위치별 표시5-3</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <script src="../static/js/sidebar.js"></script>
</body>
